/* Colores de fondo */
.img-background{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    /*background-position-x: la_medida_en_x la_medida_en_y;*/
    background-position-y: 30%;
}

.bg-white{
    background-color: rgb(199, 126, 126);
    border: solid 0.1rem black;
    border-radius: 0.4rem;
    /*box-shadow: <posicion en y> <posicion en x> <nivel de distorcion> <color>;*/
    box-shadow: -11px 11px 10px rgb(0, 0, 0);
}